<%= render 'shared/navbar' %>

<div class="container">
<h1 class="basket-title">My baskets list</h1>

<% @baskets.each do |basket| %>
    <div class="card-basket">
      <img src="https://res.cloudinary.com/dnie1qfbq/image/upload/v1583754005/basket1_muou5x.jpg" />
        <div class="card-basket-infos">
        <h2><%= basket.name %>: <%= basket.stock %></h2>

         <p><%= basket.description %></p>
          <p><%= basket.price %> €</p>
          <ul>
            <% basket.basket_products.each do |basket_product| %>
              <li><%= basket_product.product.name %></li>
            <% end %>
          </ul>

        </div>
        <div class="card-basket-infos">
          <div class="card-basket-stock">
         <%= link_to "+", update_stock_path(:stock_update => "increase", :basket_id => basket.id), class: "btn btn-basket-stock"
           %>

          <%= link_to "-", update_stock_path(:stock_update => "decrease", :basket_id => basket.id), class: "btn btn-basket-stock"
           %>
         </div>
        </div>
        <div class="card-basket-infos">
        <%= link_to restaurant_basket_path(params[:restaurant_id], basket.id), class: "btn btn-basket", method: :delete do %>
                Delete <%= basket.name %>
          <% end %>
        </div>


    </div>
<br>

  <% end %>
<br>
    <%= link_to "Dashboard", dashboard_path, class: "btn btn-flat", style: "margin-bottom:100px, background: #D94630;" %>

  <%= link_to "Add a basket", new_restaurant_basket_path(@restaurant.id), class: "btn btn-flat", style: "margin-bottom:100px, background: #D94630;" %>

</div>
