<%= render 'shared/navbar', new_restaurant: @new_restaurant %>

<div class="container">

<h1>Add a new basket to my restaurant</h1>

<p>This food is going to be wasted! Let's sell a discounted basket of products.</p>

    <%= simple_form_for([@restaurant, @basket]) do |f| %>
        <%= f.input :photo, as: :file, :label=>"Photo:" %>
        <%= f.input :name %>
        <%= f.association :products, :label=>"Products:", as: :check_boxes %>
        <%= f.input :price, :label=>"Price:" %>
        <%= f.input :description, :label=>"Description:" %>
        <%= f.input :stock, :label=>"Stock:" %>

        <%=f.submit%>
  <%end%>

</div>
