<%= render 'shared/navbar', new_restaurant: @new_restaurant %>


<div class="banner-container">

  <div class="rest-banner">
    <img src="https://berlinfoodstories.com/wp-content/uploads/2020/02/Barra-Berlin-Neukolln-Restaurant-Feature-Food-1000x350.jpg" />
  </div>

</div>

<div class="show-body">
  <div class="title-address">

    <div class="title-info">
      <h1><%= @restaurant.name %></h1>
      <p>
        <i class="fas fa-utensils" style="color: #D94630"></i> <%= @restaurant.category %>

        <% if @restaurant.rating.nil? %>
          <% "No rating for now" %>
        <% else %>
          <% unstar = 5 - @restaurant.rating %>
          <% @restaurant.rating.times do %>
            <i class="fas fa-star" style="color: #FEC739; text-shadow: 1px 1px gray;"></i>
          <% end %>
          <% unstar.times do %>
            <i class="fas fa-star" style="display:inline; color: #DDDDDD"></i>
          <% end %>
        <% end %>

      </p>
    </div>

    <div class="address-info">
      <h3><i class="fas fa-map-marker-alt" style="color: #D94630"></i> <%= @restaurant.address %></h3>
      <p>Insert distance from user location here</p>
    </div>

  </div>
</div>

<div class="description">

  <div class="content-box">
    <div class="infos">
      <p><%= @restaurant.description %></p>
      <p><i class="fas fa-shopping-bag" style="color: #D94630"></i> At closing time, the employees at <%= @restaurant.name %> will use leftover food items to make baskets.</p>
      <p><i class="fas fa-shopping-bag" style="color: #D94630"></i> The products in these baskets and their availability changes daily.</p>
      <p><i class="fas fa-shopping-bag" style="color: #D94630"></i> At <%= @restaurant.name %> you can expect to find some of the following products: x, y, z.</p>
    </div>

    <div
      id="map"
      style="width: 370px;
      height: 370px;
      border-radius: 4px;
      border: 1px solid lightgray;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>

  <div class="cart">

    <h2>Cart</h2>

    <div class="cart-items">
      <p>ITEM</p>
      <p>ITEM</p>
      <p>ITEM</p>
      <p>ITEM</p>
      <p>ITEM</p>
      <p>ITEM</p>
    </div>

    <%= link_to "Checkout", "#", class: "btn btn-flat" %>

  </div>
</div>

<div class="lower-content">
  <div class="basket-cards">
    <h2 style="color: #E16B33" class="todays-baskets">Today's baskets:</h2>
    <div class="card-list">
      <% @baskets.each do |basket| %>
        <div class="card-product">

          <img src="https://res.cloudinary.com/dnie1qfbq/image/upload/v1582631708/samples/food/pot-mussels.jpg" />

          <div class="card-product-infos">
            <h2><%= basket.name %></h2>
            <p><%= basket.description %></p>
          </div>

          <div class="cart-btn">
            <%= link_to "Add to cart", "#", class: "btn btn-flat" %>
          </div>

        </div>
      <% end %>
    </div>
  </div>
</div>
