<%= render 'shared/navbar', new_restaurant: @new_restaurant %>


<div class="banner-container">

  <div class="rest-banner">
    <img src="https://berlinfoodstories.com/wp-content/uploads/2020/02/Barra-Berlin-Neukolln-Restaurant-Feature-Food-1000x350.jpg" />
  </div>

</div>

<div class="show-body">

  <div class="title-info">
    <h1><%= @restaurant.name %></h1>
    <p> <%= @restaurant.category %></p>
  </div>

  <div class="address-info">
    <h3><%= @restaurant.address %></h3>
    <p><%= Insert distance from user location here %></p>
  </div>

</div>
