<%= render 'shared/navbar' %>

<h1>Products</h1>


<% @products.each do |product| %>
    <div class="card-product">
      <img src="https://res.cloudinary.com/dnie1qfbq/image/upload/v1582631707/samples/food/dessert.jpg" />
        <div class="card-product-infos">
        <h2><%= product.name %></h2>
         <p><%= product.description %></p>
         <p><%= product.price %>€</p>
         <%= link_to restaurant_product_path(params[:restaurant_id], product.id), method: :delete do %>
                <h3 class="btn btn-default">Delete <%= product.name %></h3>
          <% end %>
        </div>
    </div>
  <% end %>

  <%= link_to "Dashboard",dashboard_path, class: "btn btn-flat", style: "margin-bottom:100px, background: #D94630;" %>


